/* Importar fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

/** Variáveis - cores **/
:root {
    /* Light */
    --color-light-50: #f8fafc;

    /* Dark */
    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

    /* Purple */
    --color-purple-50: #0498bf;
    --color-purple-100: #037795;

    /* Gradient */
    --color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100));
}

/* Geral */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-gradient);
}

#login_form {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: var(--color-light-50);
    padding: 3.125vw 5vw;
    border-radius: 0.5em;
    gap: 3.125vw;
    box-shadow: 0.625vw 0.625vw 1vw rgba(0, 0, 0, 0.336);
    animation: dark-to-light-background 0.3s ease-in-out;
}

/* Form Header */
#form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form_header h1 {
    font-size: 2.5vw;
    position: relative;
}

#form_header h1::before {
    position: absolute;
    content: '';
    width: 40%;
    height: 0.1875vw;
    background-color: var(--color-purple-50);
    bottom: 0.3125em;
    border-radius: 0.3125em;
}

#mode_icon {
    cursor: pointer;
    font-size: 1.25vw;
}

/* Social Media */
#social_media {
    display: flex;
    justify-content: space-around;
}

#social_media img {
    width: 15.625vw;
}

#social_media img:hover {
    transform: scale(1.2);
}

/* Inputs */
#inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5625vw;
}

.input-box>label {
    font-size: 0.875em;
    color: var(--color-dark-50);
}

.input-field {
    display: flex;
    align-items: center;
    gap: 0.9375vw;
    padding: 0.1875vw;
    border-bottom: 0.03125vw solid var(--color-purple-50);
    cursor: text;
}

.input-field i {
    font-size: 1.125vw;
    cursor: text;
    color: var(--color-dark-900);
} 

.input-field input {
    border: none;
    width: 16.25vw;
    background-color: transparent;
    font-size: 1.125vw;
    padding: 0em 0.3125vw;
}

.input-field input:focus {
    outline: none;
}

/* Forgot password */
#forgot_password a {
    text-decoration: none;
    color: var(--color-dark-50);
    font-size: 0.75em;
}

#forgot_password a:hover {
    color: var(--color-purple-50);
}

/* Login Button */
#login_button {
    border: none;
    background: var(--color-gradient);
    padding: 0.4375vw;
    border-radius: 0.1875em;
    color: var(--color-light-50);
    font-weight: bold;
    font-size: 1.125vw;
    cursor: pointer;
}

#login_button:hover {
    transform: scale(1.05);
}

/* Dark Mode */
.dark#login_form {
    color: var(--color-light-50);
    background-color: var(--color-dark-100);
    animation: light-to-dark-background 0.3s ease-in-out;
}

.dark#login_form .input-field input,
.dark#login_form .input-field i {
    color: var(--color-light-50);
}

@keyframes dark-to-light-background {
    0% {
        background-color: var(--color-dark-100);
    }
    100% {
        background-color: var(--color-light-50);
    }
}

@keyframes light-to-dark-background {
    0% {
        background-color: var(--color-light-50);
    }
    100% {
        background-color: var(--color-dark-100); 
    }
}

/* Media Queries */
@media screen and (max-width: 600px) {
    /* Estilos específicos para telas menores ou iguais a 600px */
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos específicos para telas entre 601px e 1024px */
}

@media screen and (min-width: 1025px) {
    /* Estilos específicos para telas maiores que 1024px */
}
